<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="a0juri_ZWoD0x4I16apXAsasl419-Vf6qpz1DzD39QQ" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="개발 강좌 블로그">
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="colin's 블로그">
  <meta property="og:description" content="개발 강좌 블로그">
  <meta property="og:image" content="https://colinch4.github.io/images/2018-03-28-1.PNG">
  <meta property="og:url" content="https://colinch4.github.io">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  
  <script data-ad-client="ca-pub-8520309069286753" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
  </script>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}


  {% include google-analytics.html %}
  
</head>
